block content
    h1 Editar Estado de Orden
    form(action=`/orders/update-status/${order._id}` method='POST')
        .form-group
            label(for='status') Estado de la Orden
            select.form-control(name='status' id='status')
                option(value='En proceso' selected=order.status === 'En proceso') En Proceso
                option(value='Enviado' selected=order.status === 'Enviado') Enviado
                option(value='Cancelado' selected=order.status === 'Cancelado') Cancelado
                option(value='Entregado' selected=order.status === 'Entregado') Entregado
        button.btn.btn-primary(type='submit') Guardar Cambios
        a.btn.btn-secondary(href='/orders') Cancelar