block content
    h1 Manage Orders
    table.table
        thead
            tr
                th Order ID
                th Name
                th Address
                th Quantity
                th Actions
        tbody
            each order in orders
                tr
                    td= order._id 
                    td= order.name
                    td= order.address
                    td= order.quantity
                    td
                        form(action=`/orders/delete/${order._id}` method='POST')
                            button.btn.btn-danger(type='submit') Shipped


