block content
    h1 Manage Orders
    table.table
        thead
            tr
                th Order ID
                th Name
                th Address
                th Status
                th Actions
        tbody
            each order in orders
                tr
                    td= order._id
                    td= order.name
                    td= order.address
                    td
                        span.badge(class=order.status === 'en proceso' ? 'badge-warning' : 'badge-success')= order.status
                    td
                        a.btn.btn-primary(href=`/orders/edit-status/${order._id}`) Editar Estado



